body{
    background-color: #eee;
}
#header-topo{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 140px;
    background-color: #000;
    position: relative;
}
#header-esquerda{
    padding: 0px;
    margin: 0px;
    width: 50%;
    float:left;
}
#header-esquerda>img{
    height: 100px;
    margin: 20px;
    float: left;
}
#header-esquerda>div{
    height: 100%;
}
#header-esquerda>div>h1{
    color: #fff;
    margin: 50px 20px;
    font-size: 3em;
}
#header-direita{
    width: 50%;
    float: right;
}
.navsuperior{
    float: right;
    display: table-cell;
}
.navsuperior>a{
    width: 5%;
    padding: 61px 10px;
    color: #fff;
    box-sizing: border-box;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
}
.navsuperior>a:hover{
    background-color: #45bb00;
    color: #000;
}
#titulos{
    text-align: center;
    font-family: sans-serif;
    width: 100%;
}
.conteudo-esquerdo{
    float: left;
    width: 50%;
}
.conteudo-direito{
    float: right;
    width: 50%;
}
.bloco-conteudo{
    float: left;
    width: 90%;
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid #aaa;
}
.bloco-conteudo>header{
    background-color: #45bb00;
    padding: 10px;
    text-align: center;
}
.meio-conteudo{
    padding: 20px;
    text-align: justify;
}
.clear{clear: both;}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding-top: 20px;
}
footer>p{
    margin: 0px;
    padding: 0px;
}

